.message-list-container {
  padding-right: 170px !important;
  padding-left: 170px !important;
  padding-bottom: 70px;
  height: 40vh;
}
.tool{
  color: #007aff;
  font-size: 28px;
  transition: all 0.1s;
  
}
.tool:hover {
  cursor: pointer;
  color: #0063ce;
}

.tool:active {
  color: #007aff;
  opacity: 0.25;
}

*::-webkit-scrollbar {
  width: 8px;
}


*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #00000033;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}