.b {
  background-color: #E8EAEC;
  /* background-color: black; */
 
}
.headerImg{
height: 20vh;
background-image: url('../../assets/Mask Group 78.png') ;
}
.messageList{
height: 94vh;

}
.ml{
height: 74vh;
background-color: #FFFFFF;

}
.profile{
height: 34vh;

}
.cl{
height: 57vh;
}
.profile,.cl{
background-color:  #FFFFFF;
border-radius: 10px;
border:none;

}

*::-webkit-scrollbar {
width: 8px;
}


*::-webkit-scrollbar-thumb {
border-radius: 20px;
background-color: #00000033;
}

.scrollable {
position: relative;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}