
  @supports (backdrop-filter: blur(20px)) {
    .compose {
      /* border: none; */
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(20px);
    }
  }
  .input-group{
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .form-control{
    font-size: 18px !important;
    padding: 8px 50px !important;
    color:#81888E !important; 
    border-radius:36px 0px 0px 36px !important;
    border-right: none !important;
    /* background: #FDFDFD !important; */
    border-left: 1px solid #D8D8D8 !important;
    border-bottom: 1px solid #D8D8D8 !important;
    border-top: 1px solid #D8D8D8 !important;
    background: url('../../assets/happiness.png') no-repeat left !important;
    background-size: 15px !important;
    background-position-x: 15px  !important;
  }

  .form-control:focus{
    box-shadow: none !important;
  }
  .send{
height: 35px;
margin-left: 5px;
margin-top: 3px;
  }

